.idea
.Rhistory
/Thema-09_log_cache
.Rproj.user
.RData
Thema-09_Machine_Learning-2022.Rproj
Thema-09_log.log
Thema-09_log_files/
EDA_files/Thema-09_EDA_log.log
EDA_files/Thema-09_EDA_log_cache
EDA_files/Thema-09_EDA_log_files
Java_wrapper/ML_Java_wrapper/.gradle/
Java_wrapper/ML_Java_wrapper/gradle/
Java_wrapper/ML_Java_wrapper/gradlew
Java_wrapper/ML_Java_wrapper/gradlew.bat
Java_wrapper/ML_Java_Wrapper/build